:root{
    /*--weblue: #21409a;*/
    --b1: #D4E9E2;
    --b2: #FAECDE;
    --b3: #FBE9E5;
    --b4: #D9E1E7;
    --b5: #F1E4ED;
    --b6: #DAEDF2;

    --d1: #05905F;
    --d2: #FF9D63;
    --d3: #E76D50;
    --d4: #225882;
    --d5: #D67BBB;
    --d6: #2BA9CA;

}


@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");

}

@font-face {
	font-family: poppins-bold;
	src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-semibold;
	src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-black;
	src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");

}

@font-face {
	font-family: poppins-medium;
	src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");

}

mat-toolbar {
	height: 60px !important;
	position: absolute;
	width: 100%;
}

.header-container {
	width: 100%;
	position: relative;
	height: 100%;

	padding: 8px 10px;

	display: flex;
}

.header-button-container {
	position: relative;
	width: 30%;

	padding: 0 0;
}

.menu-button {
	display: inline-block;
	height: 100%;
}

.logo-container {
	position: relative;
	width: 40%;
	
	padding: 0 auto;
}

.logo {

	width: 100%;
	margin: 0 auto;

	font-family: colombo, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 40px;

	text-align: center;
}

@media screen and (max-width: 540px) {
	.logo {
		font-size: 24px;
	}
}
@media screen and (max-width: 420px) {
	.logo {
		font-size: 20px;
	}
}

.profile-container {
	position: relative;
	width: 30%;

	padding: 0 0;

	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
}

.align-helper {
	display: inline-block;
    height: 100%;
	vertical-align: middle;
}

.profile-image-container {
	height: 100%;
	width: 30px;

	margin-left: 20px;
	margin-right: 10px;

	white-space: nowrap;
	text-align: center;

}

@media screen and (max-width: 540px) {
	.profile-image-container{
		margin-left: 10px;
		margin-right: 5px;
	}
}

.reg-icon {

	vertical-align: middle;
	max-width: 100%;
	height: auto;

	border-radius: 50%;

	box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);

	content: url('/assets/images/placeholder.jpg');
}

.profile-wishlist-container {

	height: 100%;

	white-space: nowrap;
	text-align: center;
}

.wishlist {
	font-family: poppins-black;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;

	margin-top: 2%;

	vertical-align: middle;
	display: inline-block;

}

@media screen and (max-width: 540px) {
	.wishlist {
		font-size: 16px;
	}
}
@media screen and (max-width: 420px) {
	.wishlist {
		font-size: 10px;
	}
}
