<div class="main_body">
<h1 class="main_title">{{title}}</h1>
<p class="logo_login">{{logo}}</p>
<p class="login">{{login}}</p>
<p class="otp-login">{{otp_login}}</p>
<p class="token-login">{{token_login}}</p>
<form>
	<input class="ldap" type="text" id="ldap" name="ldap" placeholder="LDAP ID">
	<input class="remember" type="checkbox" id="remember" name="remember" value="remember">
	<label class="remember-label" for="remember">Remember Me</label>
	<input class="signin" type="submit" value="Sign In">
</form>
<form>
	<input class="otp" type="text" id="otp" name="otp" placeholder="LDAP ID">
	<input class="sendotp" type="submit" value="Send OTP">
</form>
<form #tokenform="ngForm" (ngSubmit)="signInToken(tokenform)">
	<input class="tokenid" type="text" id="tokenid" name="tokenid" placeholder="LDAP ID" [ngModel]="login_id" ngModel required>
	<input class="token" type="password" id="token" name="token" placeholder="Token" [ngModel]="login_token" ngModel required>
	<input class="signintoken" type="submit" value="Sign In">
</form>
</div>
