:root{

    --b1: #D4E9E2;
    --b2: #FAECDE;
    --b3: #FBE9E5;
    --b4: #D9E1E7;
    --b5: #F1E4ED;
    --b6: #DAEDF2;

    --d1: #05905F;
    --d2: #FF9D63;
    --d3: #E76D50;
    --d4: #225882;
    --d5: #D67BBB;
    --d6: #2BA9CA;

}


@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");

}

@font-face {
	font-family: poppins-bold;
	src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-semibold;
	src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-black;
	src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");

}

@font-face {
	font-family: poppins-medium;
	src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");

}


.page-container {
	width: 100%;
	height: 100%;
	padding-top: 60px;

	padding-left: 45px;
	padding-right: 45px;
}

.domain-container {
	padding-top: 0px;
}

.domain {
	font-family: colombo;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 67px;

	text-align: center;
}

.search-container {
	padding-top: -2px;
	width: 100%;
}

.search-bar {
	width: 100%;
	height: 40px;

	background: #F9F9F9;
	border-radius: 62px;

	padding-left: 15px;
	padding-right: 10px;

	display: flex;

}

.search-icon {
	width: 20px;
	height: 20px;

	font-size: 24px;

	line-height: 20px;
	
	margin-top: 10px;
	margin-bottom: 10px;

	/*color: #05905F;*/
}

.search-input {
	
	background-color: transparent;

	border-style: none;
	outline: none;

	flex: 100%;

	padding-left: 15px;

	font-family: poppins-medium;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;

	/*color: #05905F;*/

	min-width: 0px;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #C4C4C4;
	opacity: 1; /* Firefox */
}

.search-type-toggle {
	display: flex;
	justify-content: center;
	align-items: center; 
}

mat-button-toggle-group {
	vertical-align: middle;
	box-shadow: none !important;
	border-style: none !important;
}

mat-button-toggle {


/*	height: 26px;
	box-sizing: border-box;
	border-radius: 39px;

	margin-left: 7px;

	display: flex;
	align-items: center;
	text-align: center;*/

	height: 26px;
	box-sizing: border-box;
	border-radius: 39px;

	margin-left: 5px;
    margin-right:0px;

    font-family: poppins ;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #F9F9F9;

}

mat-button-toggle.core {
	color: #05905F;
	background-color: #F9F9F9 !important;
	border: 1px solid #05905F !important;

}

mat-button-toggle.information {
	color: #FF9D63;
	background-color: #F9F9F9 !important;
	border: 1px solid #FF9D63 !important;

}

mat-button-toggle.consulting {
	color: #E76D50;
	background-color: #F9F9F9 !important;
	border: 1px solid #E76D50 !important;

}

mat-button-toggle.entrepreneurship {
	color: #225882;
	background-color: #F9F9F9 !important;
	border: 1px solid #225882 !important;

}

mat-button-toggle.finance {
	color: #D67BBB;
	background-color: #F9F9F9 !important;
	border: 1px solid #D67BBB !important;

}

mat-button-toggle.socdev {
	color: #2BA9CA;
	background-color: #F9F9F9 !important;
	border: 1px solid #2BA9CA !important;

}

.mat-button-toggle-label-content {
    font-family: poppins-semibold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	text-align: center;
}

.core.mat-button-toggle-checked {
	background-color: #05905F !important;
	color: #FFFFFF !important;
}

.information.mat-button-toggle-checked {
	background-color: #FF9D63 !important;
	color: #FFFFFF !important;
}

.consulting.mat-button-toggle-checked {
	background-color: #E76D50 !important;
	color: #FFFFFF !important;
}

.entrepreneurship.mat-button-toggle-checked {
	background-color: #225882 !important;
	color: #FFFFFF !important;
}

.finance.mat-button-toggle-checked {
	background-color: #D67BBB !important;
	color: #FFFFFF !important;
}

.socdev.mat-button-toggle-checked {
	background-color: #2BA9CA !important;
	color: #FFFFFF !important;
}

.opps-list {

	margin-top: 30px;
	width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}
