:root{
    /*--weblue: #21409a;*/
    --b1: #D4E9E2;
    --b2: #FAECDE;
    --b3: #FBE9E5;
    --b4: #D9E1E7;
    --b5: #F1E4ED;
    --b6: #DAEDF2;

    --d1: #05905F;
    --d2: #FF9D63;
    --d3: #E76D50;
    --d4: #225882;
    --d5: #D67BBB;
    --d6: #2BA9CA;

}

@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");

}

@font-face {
	font-family: poppins-bold;
	src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-semibold;
	src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-black;
	src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");

}

@font-face {
	font-family: poppins-medium;
	src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");

}


mat-sidenav-content.black{
	background-color: black !important;
}

mat-sidenav-content.white{
	background-color: white !important;
}

mat-sidenav-content.grey{
	background-color: #363636 !important;
}

mat-sidenav-content.core{
	background-color: #D4E9E2 !important;
}

mat-sidenav-content.infotech{
	background-color: #FAECDE !important;
}

mat-sidenav-content.consulting{
	background-color: #FBE9E5 !important;
}

mat-sidenav-content.entrepreneurship{
	background-color: #D9E1E7 !important;
}

mat-sidenav-content.finance{
	background-color: #F1E4ED !important;
}

mat-sidenav-content.socdev{
	background-color: #DAEDF2 !important;
}

mat-sidenav.mat-default {
	background: rgba(24, 25, 24, 0.8) !important;
}

mat-sidenav.mat-core {
	background: rgba(249, 249, 249, 0.2) !important;
}

mat-sidenav.mat-infotech {
	background: rgba(249, 249, 249, 0.2) !important;
}

mat-sidenav.mat-consulting {
	background: rgba(249, 249, 249, 0.2) !important;
}

mat-sidenav.mat-entrepreneurship {
	background: rgba(249, 249, 249, 0.2) !important;
}

mat-sidenav.mat-finance {
	background: rgba(249, 249, 249, 0.2) !important;
}

mat-sidenav.mat-socdev {
	background: rgba(249, 249, 249, 0.2) !important;
}
