mat-sidenav-content.black{
	background-color: black !important;
}

mat-sidenav-content.white{
	background-color: white !important;
}

mat-sidenav-content.grey{
	background-color: #363636 !important;
}

mat-sidenav-content.core{
	background-color: #D4E9E2 !important;
}

mat-sidenav-content.infotech{
	background-color: #FAECDE !important;
}

mat-sidenav-content.consulting{
	background-color: #FBE9E5 !important;
}

mat-sidenav-content.entrepreneurship{
	background-color: #D9E1E7 !important;
}

mat-sidenav-content.finance{
	background-color: #F1E4ED !important;
}

mat-sidenav-content.socdev{
	background-color: #DAEDF2 !important;
}

mat-sidenav.mat-default {
	background: rgba(24, 25, 24, 0.8) !important;
}

mat-sidenav.mat-core {
	background: rgba(249, 249, 249, 0.8) !important;
}