:root{
    /*--weblue: #21409a;*/
    --b1: #D4E9E2;
    --b2: #FAECDE;
    --b3: #FBE9E5;
    --b4: #D9E1E7;
    --b5: #F1E4ED;
    --b6: #DAEDF2;

    --d1: #05905F;
    --d2: #FF9D63;
    --d3: #E76D50;
    --d4: #225882;
    --d5: #D67BBB;
    --d6: #2BA9CA;

}

@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");

}

@font-face {
	font-family: poppins-bold;
	src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-semibold;
	src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");

}

@font-face {
	font-family: poppins-black;
	src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");

}

@font-face {
	font-family: poppins-medium;
	src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");

}

/*.black-input {
  color: var(--b1);
}
*/



/*.sidelinks.form-control {
  color:#000000;
}*/

.sidelinks {
	position: absolute;
	width: 325px;
	height: 480px;
	left: 63px;
	top: 120px;

	font-family: poppins-bold;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 54px;
	text-align: right;
	/*color: #05905F;*/

}

a {
	color: #FFFFFF !important;
}


mat-sidenav-container {
	height: 100%;
}

mat-sidenav-content.black{
	background-color: black !important;
}

mat-sidenav-content.white{
	background-color: white !important;
}

mat-sidenav-content.grey{
	background-color: #363636 !important;
}

mat-sidenav-content.core{
	background-color: var(--b1) !important;
}

mat-sidenav-content.infotech{
	background-color: var(--b2) !important;
}

mat-sidenav-content.consulting{
	background-color: var(--b3) !important;
}

mat-sidenav-content.entrepreneurship{
	background-color: var(--b4) !important;
}

mat-sidenav-content.finance{
	background-color: var(--b5) !important;
}

mat-sidenav-content.socdev{
	background-color: var(--b6) !important;
}

mat-sidenav {
	background: rgba(249, 249, 249, 0.4) !important;
	width: 417px !important;
	mix-blend-mode: normal !important;
	backdrop-filter: blur(5px) !important;

}

.menu-button {
	position: absolute;
	left: 1px;
	top: 1px;
}

mat-toolbar {
	position: relative;
	width: 1280px;
	height: 60px;
	left: 0px;
	top: 0px;

}

mat-toolbar.black {
	background-color: black !important;
	position: relative;
	width: 1280px;
	height: 60px;
	left: 0px;
	top: 0px;

}

mat-toolbar.core {
	background-color: white !important;
	color: var(--d1) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;

}

mat-toolbar.infotech {
	background-color: white !important;
	color: var(--d2) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;
}

mat-toolbar.consulting {
	background-color: white !important;
	color: var(--d3) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;
}

mat-toolbar.entrepreneurship {
	background-color: white !important;
	color: var(--d4) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;
}

mat-toolbar.finance {
	background-color: white !important;
	color: var(--d5) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;
}

mat-toolbar.socdev{
	background-color: white !important;
	color: var(--d6) !important;
	position: relative;
	width: 100%;
	height: 8%;
	left: 0px;
	top: 0px;

}

.logo {
	position: absolute;
	left: 46.56%;
	right: 46.56%;
	top: 4%;
/*	bottom: 93.06%;*/

	font-family: colombo;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 40px;

	text-align: center;

	mix-blend-mode: normal;
}

.core>.logo, .core>.wishlist, .core>.menu-button {
	color: var(--d1);
}

.infotech>.logo, .infotech>.wishlist, .infotech>.menu-button {
	color: var(--d2);
}
.consulting>.logo, .consulting>.wishlist, .consulting>.menu-button {
	color: var(--d3);
}

.entrepreneurship>.logo, .entrepreneurship>.wishlist, .entrepreneurship>.menu-button {
	color: var(--d4);
}

.finance>.logo>, .finance>.wishlist, .finance>.menu-button {
	color: var(--d5);
}

.socdev>.logo, .socdev>.wishlist, .socdev>.menu-button{
	color: var(--d6);
}


.wishlist {
	position: absolute;
	right: 7%;
	top: 15%;
	/*bottom: 93.33%;*/

	font-family: poppins-black;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;

	text-align: right;

	/*color: #FFFFFF;*/
}

/*.burger-icon {

	vertical-align: middle;
	max-width: 100%;
	height: auto;

	border-radius: 50%;

	box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);

	content: url('/assets/icons/burger.svg');
}*/

