<div class="sidenav-container">
	<div class="sidenav-button-container">
		<button mat-button disableRipple color="{{mat_style()}}" class="menu-button" (click)="sidenavToggle()">
			<mat-icon>{{'close'}}</mat-icon>
		</button>
	</div>
	
	<div class="link-list">
		<div class="sidelink-container">
			<div [ngClass]="sidelink_class()" *ngFor="let link of LinksList">
				<a routerLink="{{link.link}}">{{link.name}}</a>
			</div>
		</div>
		<div [ngClass]="aboutlink_class()">
			<a routerLink="{{AboutLink.link}}">{{AboutLink.name}}</a>
		</div>
	</div>
</div>