.menu-button.mat-default{
	color: white;
}

.menu-button.mat-core{
	color: #05905F;
}

.mat-default>a:link, .mat-default>a:visited, .mat-default>a:hover, .mat-default>a:active {
	color: #F9F9F9;
}

.mat-core>a:link, .mat-core>a:visited, .mat-core>a:hover, .mat-core>a:active {
	color: #05905F;
}