@font-face {
	font-family: colombo;
	src: url("/assets/fonts/Colombo.otf") format("opentype");
}

@font-face {
	font-family: poppins;
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
	background-color: black;
}

.main_title {
	position: absolute;
	width: 805px;
	height: 432px;
	left: 60px;
	top: 228px;

	font-family: colombo, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	line-height: 144px;
	display: flex;
	align-items: flex-end;

	color: #FFFFFF;


	mix-blend-mode: normal;
}