<img class="reg-icon">

<p class="first-name-label">First Name</p>
<p class="college-label">College</p>
<p class="year-label">Year</p>
<p class="branch-label">Branch</p>
<p class="about-label">About</p>
<p class="domain-label">Domain Interests</p>

<p class="domain">
	<mat-button-toggle-group name="domain-choice" aria-label="Domain Choice">
		<mat-button-toggle class="core" value="Core">Core</mat-button-toggle>
		<mat-button-toggle class="it" value="IT">IT/Coding</mat-button-toggle>
		<mat-button-toggle class="consulting" value="consulting">Consulting</mat-button-toggle>
		<mat-button-toggle class="ent" value="ent">Entrepeneurship</mat-button-toggle>
		<mat-button-toggle class="finance" value="finance">Finance</mat-button-toggle>
		<mat-button-toggle class="socdev" value="socdev">SocDev & Policy</mat-button-toggle>
	</mat-button-toggle-group>
</p>

<p class="ops-label">Opportunities Pursued</p>
<p class="ops">{{ops}}</p>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
	<div class="form-field">
		<input type="text" id="name" name="name" class="form-input name" [ngModel]="user?.name" ngModel required>
	</div>
	
	<input type="text" id="college" name="college" class="college" [ngModel]="user?.college" ngModel required>
	<input type="text" id="year" name="year" class="year" [ngModel]="user?.yearOfStudy" ngModel required>
	<input type="text" id="branch" name="branch" class="branch" [ngModel]="user?.branch" ngModel required>
	<input type="text" id="about" name="bio" class="about" [ngModel]="user?.bio" ngModel required>
	<p class="email">{{user?.email}}</p>
	<input class="save" type="submit" value="Save">
</form>